optHeight = cell * 4

.opts
	width 100%
	position absolute
	left 0
	bottom 0
	height optHeight
	margin 0
	padding 0
	{reset-inline}
	background #333
	box-shadow 0px -1px 3px rgba(0,0,0,0.1)
	z-index 10
	
.opts__button
	{restore-inline}
	height 100%
	padding 0
	font-size 0.8em
	text-transform uppercase
	color #ccc
	text-align center
	box-shadow -1px 0px 0px rgba(#fff, 10%)
	
.b-1
	width 25%
.b-2
	width 50%
.b-3
	width 75%
.b-4
	width 100%